.catalogueContainer {
    color: white;
    width: 100vw;
    font-family: 'Domine';
    padding-bottom: 20px;
}

.catalogueTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.catalogueTop>h1 {
    font-size: 48px;
    font-weight: 400;
}

.catalogueTop>button {
    height: 40px;
    width: 220px;
    border: none;
    background: #eeb3e7;
    font-weight: 700;
    border-radius: 25px;
}

.catalogueBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalogueImg {
    width: 450px;
    position: relative;
}

.catalogueImg>p {
    background-color: white;
    width: 90%;
    height: 150px;
    border-radius: 25px;
    padding: 40px 20px;
    font-size: 18px;
    font-family: "Josefin Sans";
    font-weight: 400;
    color: #000;
}

.catalogueImg>img {
    height: 300px;
    width: 210px;
    border-radius: 8px;
}