.teamContainer {
    width: 100vw;
    font-family: 'Domine';
    padding-bottom: 20px;
}

.teamTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.teamTop>h1 {
    font-size: 48px;
    font-weight: 400;
    color: white;
}

.teamBottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.teamImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 280px;
    height: 380px;
    background: white;
    border-radius: 30px;
}

.teamImg>* {
    margin-top: auto;
}

.teamImg>img {
    height: 240px;
    width: 220px;
    border-radius: 20px;
    border: 1px dotted;
}

.teamName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eeb3e7;
    padding: 20px;
    width: 100%;
    border-radius: 30px;
}

.teamName>h1 {
    font-size: 18px;
    font-weight: 600;
}

.teamName>span {
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
}