.contactContainer {
    width: 100vw;
    font-family: 'Domine';
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contactLeft {
    width: 650px;
}

.contactLeftTop {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20px;
    margin-bottom: 20px;
}

.contactLeftTop>h1 {
    font-size: 25px;
    font-weight: 400;
}

.contactLeftTop>img {
    width: 30px;
    margin-right: 10px;
}

.contactLeftMiddle {
    display: flex;
    align-items: center;
    background: #eeb3e7;
    width: 90%;
    border-radius: 25px 25px 0px 0px;
    height: 170px;
    padding: 20px;
}

.contactLeftMiddle>h1 {
    font-size: 48px;
    font-weight: 400;
}

.contactLeftBottom {
    width: 100%;
    background: white;
    height: 200px;
    border-radius: 25px;
    padding: 40px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.contactLeftBottom>h1,
p {
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 20px;
}

.contactLeftBottom>p {
    padding-top: 20px;
}

hr {
    width: 90%;
}

.contactRight {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.contactRight>img {
    height: 210px;
}

.contact1 {
    transform: rotate(15deg);
}

.contact2 {
    margin-top: 130px;
    margin-left: -20px;
    transform: rotate(-10deg);
}

.contact3 {
    transform: rotate(-10deg);
}

.contact4 {
    margin-top: 20px;
    margin-left: 35px;
    transform: rotate(20deg);
}